In [1]:
import numpy as np
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Perceptron
from matplotlib.colors import ListedColormap
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from mlxtend.plotting import plot_decision_regions

In [2]:
#Para cargar los datos desde el CSV.
df = pd.read_csv('twitterData.csv')
#Para poner los elementos de tipo NaN en 0's.
df = df.fillna(0)

In [3]:
df.head()

,nombre,cantidad_caracteres_nombre,tiene_foto_perfil,cantidad_seguidores,cantidad_seguidos,promedio_publicaciones,perfil_privado,dia_mas_publica,comenta_publicaciones,clase
0,Catalin31937081,15,Sí,4,11,0.007958,No,Sábado,Sí,Fake
1,JadeCrespo8,11,Sí,14,143,8.125000,No,Martes,Sí,Fake
2,V12Ara,6,Sí,1,1,0.901163,No,Martes,Sí,Fake
3,BriannaLun_,11,Sí,1,32,4.471429,No,Martes,Sí,Fake
4,IsoldaMancillas,15,Sí,34,84,4.621212,No,Martes,Sí,Fake

In [4]:
df.describe()

,cantidad_caracteres_nombre,cantidad_seguidores,cantidad_seguidos,promedio_publicaciones
count,150.000000,1.500000e+02,150.000000,150.000000
mean,11.906667,9.688167e+04,556.713333,11.816493
std,2.637740,4.953560e+05,1297.382933,32.934134
min,5.000000,0.000000e+00,0.000000,0.000000
25%,10.000000,5.250000e+00,60.500000,1.019872
50%,12.000000,1.125000e+02,151.500000,3.611684
75%,14.750000,1.857000e+03,398.500000,7.032814
max,15.000000,4.080537e+06,8650.000000,260.688312